body {
    background-image: url(bgimage.jpeg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.btnku{
    background-color: deeppink;
    font-size: medium;
    color: white;
    border-radius: 5px 25px 5px 25px;
}
.btnku:hover{
    background-color:green;
    font-size: medium;
    color: white;
    border-radius: 5px 25px 5px 25px;
}